<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control" placeholder="name" [(ngModel)]="character.name"
          (blur)="onBlur(nameField)" #nameField="ngModel" [class.field-error]="form.submitted && nameField.invalid"
          required />
        <div [hidden]="!form.submited || nameField.valid" class="alert alert-danger">
          Enter a name
        </div>
      </div>


      <div class="form-group">
        <span>Gender:</span>
        <div class="custom-control custom-radio">
          <input id="male" type="radio" class="custom-control-input" value="male" name="gender"
            [(ngModel)]="character.gender" required>
          <label class="custom-control-label" for="male">Male</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="female" type="radio" class="custom-control-input" value="female" name="gender"
            [(ngModel)]="character.gender" required>
          <label class="custom-control-label" for="female">Female</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="n/a" type="radio" class="custom-control-input" value="n/a" name="gender"
            [(ngModel)]="character.gender" required>
          <label class="custom-control-label" for="n/a">N/A</label>
        </div>
      </div>

      <div class="form-group">
        <label for="subscriptionType">Species</label>
        <select class="form-control" name="species" id="species" [(ngModel)]="character.species">
          <option *ngFor="let specie of species">
            {{specie}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="homeworld">Homeworld</label>
        <input id="homeworld" name="homeworld" class="form-control" placeholder="homeworld"
          [(ngModel)]="character.homeworld" (blur)="onBlur(nameField)" #homeWorldField="ngModel"
          [class.field-error]="form.submitted && nameField.invalid" />
      </div>

      <div [hidden]="!postError" class="alert alert-danger">
        {{postErrorMessage}}
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>