<h1>List View</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="searchInput" class="sr-only">Search</label>
      <input
        type="text"
        class="form-control"
        id="searchInput"
        placeholder="Search..."
      />
    </div>
  </div>
  <div class="col-sm-6 text-sm-right">
    <a class="btn btn-primary mb-3">Add New</a>
  </div>
</div>

<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Species</th>
      <th scope="col">Gender</th>
      <th scope="col">Homeworld</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of charactersPaged">
      <th scope="row">{{ character.id }}</th>
      <td>{{ character.name }}</td>
      <td>{{ character.species }}</td>
      <td>{{ character.gender }}</td>
      <td>{{ character.homeworld }}</td>
      <td>
        <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
          <button type="button" class="btn btn-secondary">
            <i class="fa fa-pencil" aria-hidden="true"></i> Edit
          </button>
          <button type="button" class="btn btn-danger">
            <i class="fa fa-trash-o" aria-hidden="true"></i> Remove
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<nav
  aria-label="Data grid navigation"
  *ngIf="pager.pages && pager.pages.length"
>
  <ul class="pagination justify-content-end">
    <li class="page-item" [ngClass]="{ disabled: pager.currentPage === 1 }">
      <a
        class="page-link"
        (click)="setPage(pager.currentPage - 1)"
        tabindex="-1"
        >Previous</a
      >
    </li>

    <li
      class="page-item"
      *ngFor="let page of pager.pages"
      [ngClass]="{ active: pager.currentPage === page }"
    >
      <a class="page-link" (click)="setPage(page)">
        {{ page }}
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>
